{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "react",
    "import",
    "jsx-a11y",
    "jest"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018
  },
  "globals": {
    "__DEV__": true
  },
  "env": {
    "jest/globals": true
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  },
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "no-underscore-dangle": 0,
    "global-require": 0,
    "react/jsx-filename-extension": 0,
    "no-use-before-define": 1,
    "import/prefer-default-export": 1,
    "react/require-default-props": 0,
    "react/jsx-max-props-per-line": 0
  }
}