{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "react",
    "import",
    "jsx-a11y",
    "jest"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018
  },
  "env": {
    "jest/globals": true
  },
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "no-underscore-dangle": 0,
    "global-require": 0,
    "react/jsx-filename-extension": 0,
    "react/prop-types": 1
  }
}